/*
 *  -- Global -----------------------------------------------------------------
 */
.container {
    // border: 1px solid red;
}


/*
 *  -- Topbar and Header-------------------------------------------------------
 */
#header {
    border: 1px solid red;
}

.header-nav, .header-top {
    border: 1px solid blue;
}


/*
 *  -- Left column ------------------------------------------------------------
 */
#left-column {
    border: 1px solid blue;
}



#main {
    border: 1px solid blue;
}


#products {
    border: 1px solid red;
}

.product {
    border: 1px solid blue;
}

.product-container {
    border: 1px solid red;
}

#footer .container {
    border: 1px solid red;
}
