#left-column {
    padding: 0;
}

.category-link, .custom-page-link {
    // border: 1px solid red;
    padding: 15px 0 15px 15px;
    border-bottom: 1px solid #ddd;
}

.displayBlock {
    display: block;
    // color: black;
}
