/*
 *  breakpoints : 576px, 768px, 992px, 1200px, 1400px, 1600px
 */

/*
 *  -- Global -----------------------------------------------------------------
 */
body {
    // background-color: red;
}

.debug {
    border: 1px solid red;
}

.dropdown-menu {
    background-color: #333; // $footer-bg-color
}

.polo {
    float: left;
    width: 100%;
}

/*
 *  -- Topbar and Header-------------------------------------------------------
 */
@import "pagetop";



/*
 *  -- Pages ------------------------------------------------------------------
 */
.container {
    // border: 1px solid red;
}

@media (min-width: 1400px) {
    .container {
        width: 1360px;
        max-width: 100%
    }
}

@media (min-width: 1600px) {
    .container {
        width: 1560px;
        max-width: 100%
    }
}

.equal {
      display: flex;
      flex-wrap: wrap;
}


/*
 *  -- Left column ------------------------------------------------------------
 */
#left-column {
    padding: 0;
}

.category-link, .custom-page-link {
    // border: 1px solid red;
    padding: 15px 0 15px 15px;
    border-bottom: 1px solid #ddd;
}

.displayBlock {
    display: block;
    // color: black;
}



/*
 *  -- Category ---------------------------------------------------------------
 */
@import "category";


/*
 *  -- Footer -----------------------------------------------------------------
 */
@import "footer";

// @import "debug";
